/* src/components/PopupInfo.css */

.card-img-top {
    height: 300px;
    object-fit: cover;
  }
  
  .popup-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }
  
  .popup-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
  }