/* src/components/ReviewList.css */

.review {
    background-color: #f9f9f9;
    padding: 40px;
    margin: 0 40px; /* 좌우 마진 추가 */
  }
  
  .review p {
    margin: 0;
  }

  .reviews-title {
    padding-left: 40px;
  }
  
  
  .review-stars {
    display: flex;
    margin-bottom: 10px;
  }
  
  .pagination-btn {
    min-width: 50px;
    height: 40px;
    margin: 0 2px;
    font-size: 1rem;
    border: none; /* 테두리 제거 */
  }